<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>xpath</title>
</head>
<body>
<div style="width:100%;height:100%;margin:auto;text-align:center;">
    <h1><span>{{ ip_1 }}{{ qwe123 }}{{ ip }}</span><br></h1><br>
    <h1><span>{{ my_ip_number_1 }}{{ qwe123 }}{{ my_ip_number }}</span><br></h1><br>
    <h1><span>{{ address_1 }}{{ qwe123 }}{{ address }}</span><br></h1><br>
    <h1><span>{{ ll_1 }}{{ ll_2 }}</span></h1>
    <h1><span>{{ radius_1 }}{{ radius_2 }}</span></h1>
    <h1><span>{{ postal_1 }}{{ postal_2 }}</span></h1>

</div>
</body>
</html>