<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="maps.css">
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=3.0&ak=nVE72CrrpeVUR2vAKMGDlCqwzscuMj0b"></script>

</head>
<body>
<form action="/" method="post">
        <script src="baidumap.js"></script>
        <div id="top">
            <input type="text" name="seek">
            <input type="submit" value="搜索">
        </div>
        <div id="dituContent"></div>
        <div id="msg">
                <ul>
                    <li><div>湖南</div></li>
                    <li><div>湖北</div></li>
                    <li><div>a</div></li>
                    <li><div>b</div></li>
                    <li><div>c</div></li>
                    <li><div>d</div></li>
                    <li><div>e</div></li>
                    <li><div>f</div></li>
                    <li><div>g</div></li>
                    <li><div>h</div></li>
                    <li><div>i</div></li>
                </ul>
        </div>
    </form>
</body>
</html>
<script src="baidumap.js"></script>
